$beige: #fcf1e1;
$dark: #1c1c1c;
$yellow: #ede511;
$palered: #C04848;;
$palewhite: #a8a7a7;
$darktext: #0d0f11;
$break-handheld: 1024px;
$light: #eeeeee;
$shadow-property: 6px 6px 16px #d1cdd780, -6px -6px 16px #ffffff80;
